--swiftversion 5.7
--indent 4
--tabwidth 4
--linebreaks lf
--maxwidth 120
--semicolons never
--commas inline
--trimwhitespace always
--allman false
--wraparguments preserve
--wrapparameters preserve
--wrapcollections preserve
--wrapconditions preserve
--closingparen same-line
--ranges no-space
--operatorfunc spaced
--header ignore
--hexgrouping 4,8
--decimalgrouping 3,6
--binarygrouping 4,8
--octalgrouping 4,8
--fractiongrouping disabled
--exponentgrouping disabled
--disable docComments,wrapPropertyBodies,blankLinesBetweenScopes,redundantMemberwiseInit,unusedArguments,hoistPatternLet,andOperator,redundantSelf,redundantSendable,enumNamespaces,elseOnSameLine,wrapMultilineStatementBraces
